
@font-face {
    font-family: "Nata Sans";
    src: url("../fonts/Nata_Sans/NataSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}
